:root {
  --primary-hs: 28 86%;
  
  --clr-primary-100: hsl(var(--primary-hs) 90%); 
  --clr-primary-200: hsl(var(--primary-hs) 80%);
  --clr-primary-500: hsl(var(--primary-hs) 53%);
  --clr-primary-800: hsl(var(--primary-hs) 20%);
  --clr-primary-900: hsl(var(--primary-hs) 10%);
}
.navbar{
  box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.75);
}
.navbar-brand {
  padding: 0;
}
.navbar .navbar-brand img{
  max-height: 40px;
}
.bg-dark{
  background-color: var(--clr-primary-900) !important;
}
.bg-light {
  background-color: var(--clr-primary-100) !important;
}

.text-dark{
  color: var(--clr-primary-900) !important;
}
.text-light{
  color: var(--clr-primary-100) !important;
}
.text-primary{
  color: var(--clr-primary-500) !important;
}
.btn-outline-primary{
  color: var(--clr-primary-500) !important;
  border-color: var(--clr-primary-500) !important;
}
body{
  background: var(--clr-primary-100);
}
.ribbon{
  border-top: 10px dotted var(--clr-primary-900);
  opacity: initial;
  background: none;
}
.contact-box{
  margin: auto;
}
/*.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;

}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: 500px;
  position: absolute;
}*/
@media (min-width: 768px) {
  .contact-left{
    display: flex;
    justify-content: end;
    padding: 0;
  }
  .contact-right{
    display: flex;
    justify-content: start;
    padding: 0;
  }
  .contact-box{
    margin: 0;
  }
 }
